<div class="jumbotron">
	<div class="row" *ngIf="steps[0]">
	  	<div class="col-xs-10 offset-xs-1">
		  	<div class="divider">

			  <div class="currentbadge">1</div>

			  <span class="divider"></span>

			  <div class="badge">2</div>

			  <span class="divider"></span>

			  <div class="badge">3</div>

			  <span class="divider"></span>

			  <div class="badge">4</div>

			  <span class="divider"></span>

			  <div class="badge">5</div>

			  <span class="divider"></span>

			  <div class="badge">6</div>

			  <span class="divider"></span>

			  <div class="badge">7</div>
			</div>
		</div>
		<h1 class="display-3 text-xs-center col-xs-12" style="color:#315A7B;">Find the <b style="color:#3BA4F7;">#</b> of your chain !</h1>
		<p class="lead  text-xs-center col-xs-12">
		  This # will be the title of your chain, thus visible by everyone. Get to the point ! ;-)
		</p>
		<input class="form-control form-control-lg wechain-input col-xs-4 offset-xs-4" type="text" placeholder="Title"><br/>
		<button class="btn btn-lg pull-right col-xs-1 offset-xs-10"  type="button" (click)="next(0)">Next</button>
	</div> 
	<div class="row" *ngIf="steps[1]">
	  	<div class="col-xs-10 offset-xs-1">
		  	<div class="divider">
			  <div class="currentbadge">1</div>
			  <span class="divider"></span>
			  <div class="currentbadge">2</div>
			  <span class="divider"></span>
			  <div class="badge">3</div>
			  <span class="divider"></span>
			  <div class="badge">4</div>
			  <span class="divider"></span>
			  <div class="badge">5</div>
			  <span class="divider"></span>
			  <div class="badge">6</div>
			  <span class="divider"></span>
			  <div class="badge">7</div>
			</div>
		</div>
		<h1 class="display-3 text-xs-center col-xs-12" style="color:#315A7B;"><b>Upload</b> the first picture of your chain</h1>
		<!-- <p class="lead  text-xs-center col-xs-12">
		  <b>Upload</b> the first picture of your chain
		</p> -->
		<div class="col-xs-8 offset-xs-2" style="border:3px dashed #979797;">

		</div>
		<div class="col-xs-2">
		</div>
		<br/>
		<button class="btn btn-lg pull-left col-xs-1"  type="button" (click)="back(1)">Previous</button>
		<button class="btn btn-lg pull-right col-xs-1 offset-xs-10"  type="button" (click)="next(1)">Next</button>
		
	</div>  
</div>