<div class="container-fluid" style="background-color:rgba(151, 151, 151, 1.0);">
	<div class="row">
	  	<div class="col-xs-10">
		  	<div class="divider">
			  <div class="badge">1</div>

			  <span class="divider"></span>

			  <div class="badge">2</div>

			  <span class="divider"></span>

			  <div class="badge">3</div>

			  <span class="divider"></span>

			  <div class="badge">4</div>

			  <span class="divider"></span>

			  <div class="badge">5</div>

			  <span class="divider"></span>

			  <div class="badge">6</div>

			  <span class="divider"></span>

			  <div class="badge">7</div>
			</div>
		</div>
	</div>  
</div>