<div class="jumbotron">
	<div class="row">
	  	<div class="col-xs-10 offset-xs-1">
		  	<div class="divider">

			  <div class="currentbadge">1</div>

			  <span class="divider"></span>

			  <div class="badge">2</div>

			  <span class="divider"></span>

			  <div class="badge">3</div>

			  <span class="divider"></span>

			  <div class="badge">4</div>

			  <span class="divider"></span>

			  <div class="badge">5</div>

			  <span class="divider"></span>

			  <div class="badge">6</div>

			  <span class="divider"></span>

			  <div class="badge">7</div>
			</div>
		</div>
		<h1 class="display-3 text-xs-center col-xs-12" style="color:#315A7B;">Find the <b style="color:#3BA4F7;">#</b> of your chain !</h1>
		<p class="lead  text-xs-center col-xs-12">
		  This # will be the title of your chain, thus visible by everyone. Get to the point ! ;-)
		</p>
	</div>  
</div>