<script type="text/javascript">
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>
<div class="container-fluid" *ngIf="loaded">
	<nav class="navbar navbar-light bg-faded full-width" style="background-color:#F5F5F5;">
	  <a class="navbar-brand" [routerLink]="['/home']">
	    <i class="fa fa-arrow-circle-left" aria-hidden="true" style="color:#D8D8D8;"></i>
	  </a>	  	  
	  <span class="navbar-text float-xs-left">
	    <h5 class="display-5" style="color:#315A7B;">#{{chain.title}} &nbsp; &nbsp;</h5>
	  </span>
	  <span class="navbar-text float-xs-left text-muted">
	    {{chain.chainers_count}} users | {{chain.chainers.length+1}} pictures | {{chain.likes.length}} likes | {{chain.comments.length}} comments
	  </span>
	  <form class="form-inline float-xs-right">
	  	Live moderation
	  	<input class="form-check-input" type="checkbox" [checked]="chain.isAdvertising" (click)="toggleModeration();">
	    <a href="https://live.wechain.eu/{{chain._id}}" target="_blank" class="btn btn-danger btn-sm"><i class="fa fa-video-camera" aria-hidden="true"></i> &nbsp; Broadcast Live</a>
		<a href="#" class="btn btn-primary btn-sm"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Invite More</a>
		<!-- <button type="button" class='btn btn-secondary' data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus." data-trigger="hover"> -->
		  <i class="fa fa-cog" aria-hidden="true" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"></i>
		 <!--  <a href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</a> -->
		<!-- </button> -->
	  </form>

	</nav>
</div>
<div class="container-fluid" *ngIf="loaded">
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="moderate-section">
				Photos to moderate
			</div>
		</div>
		<div *ngIf="chain.isAdvertising && chain.moderation.length != 0" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <div *ngFor='let moderate of chain.moderation' class="hovereffect" style='width:25%;'>
		      <img src="https://thumbnails.wechain.eu/{{moderate.thumbnails[0]}}">
		      	<div class="overlay" style="vertical-align: center;"><h6 style="color:white;" class='display-6'>{{moderate.username}}</h6>
			         <button class="btn btn-sm btn-success"  type="button" uib-dropdown-toggle="" (click)="approve(moderate._id)">Approve</button>
			         <button class="btn btn-sm btn-danger"  type="button" uib-dropdown-toggle="" (click)="refuse(moderate._id)">Refuse</button>
		        </div>
		    </div> 
		</div>
		<div *ngIf="!chain.isAdvertising" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <h4 class="display-5 text-xs-center">Live moderation is not enabled for this chain</h4>
		</div>
		<div *ngIf="chain.isAdvertising && chain.moderation.length == 0" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <h4 class="display-5 text-xs-center">No picture to moderate right now, come back later </h4>
		</div>
	</div>
</div>
<div class="container-fluid" *ngIf="loaded" >
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="posted-section">
				Posted photos
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <div *ngFor='let chainer of chain.chainers' class="hovereffect" style='width:10%;'>
		      <img src="https://thumbnails.wechain.eu/{{chainer.thumbnails[0]}}" class="img-fluid">
		      	<div class="overlay" style="vertical-align: center;"><h6 style="color:white;" class='display-6'>{{chainer.username}}</h6>
			         <button class="btn btn-sm btn-info"  type="button" (click)="openChainer(chainer)">See</button>
			         <button class="btn btn-sm btn-danger"  type="button" uib-dropdown-toggle="" (click)="confirmDeleteChainer(chainer)">Delete</button>
		        </div>
		    </div> 
		</div>
	</div>
</div>
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <img src="https://thumbnails.wechain.eu/{{modal.chainer.thumbnails[0]}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->