<script type="text/javascript">
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
</script>
	<nav *ngIf="loaded" class="navbar navbar-light bg-faded" style="background-color:#F5F5F5;">
	  <a class="navbar-brand" [routerLink]="['/home']" style="font-size:1.5em;">
	    <i class="fa fa-arrow-circle-left fa-4" aria-hidden="true" style="color:#D8D8D8"></i>
	  </a>	  	  
	  <span class="navbar-text float-xs-left" style="color:#315A7B;font-size:1.5em;">
	    #{{chain.title}} &nbsp; &nbsp;
	  </span>
	  <span class="navbar-text float-xs-left text-muted" style="font-size:1.5em;">
	    {{chain.chainers_count}} users | {{chain.chainers.length+1}} pictures | {{chain.likes.length}} likes | {{chain.comments.length}} comments
	  </span>
	  <form class="form-inline float-xs-right">
	    	<label for="moderationswitch" style="font-size:1.5em; color:#606060;">Live moderation</label>
		  	<ui-switch id="moderationswitch" [checked]="chain.isAdvertising" (change)="toggleModeration();" size="small"></ui-switch>&nbsp;
		  	<i class="fa fa-question-circle" [popover]="helpmoderation" [popoverOnHover]="true" style="font-size:1.5em; color:#606060;margin-top: 10px;"></i>
		  	&nbsp;		   
		    <div class="btn-group">
			  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <i class="fa fa-video-camera" aria-hidden="true"></i> &nbsp; Broadcast Live
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" (click)="cast()">Cast chain on screen &nbsp; <i class="fa fa-television" aria-hidden="true"></i></a>
			    <a class="dropdown-item" href="https://live.wechain.eu/{{chain._id}}" target="_blank">Open live link in new tab &nbsp; <i class="fa fa-window-restore" aria-hidden="true"></i></a>
			  </div>
		  	</div>
		  	 &nbsp;
		  	 <i class="fa fa-question-circle" [popover]="helpbroadcast" [popoverOnHover]="true" style="font-size:1.5em; color:#606060;"></i>
		  	 &nbsp;
		  	<button type="button" class="btn btn-primary">
			    <i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Invite More
			</button>
			&nbsp;
		  	<i class="fa fa-cog fa-4" [popover]="actions" [popoverOnHover]="true" [popoverCloseOnMouseOutside]="true" style="font-size:1.5em; color:#606060;"></i>
	  </form>
	    <popover-content #actions 
	            placement="bottom"
	            [closeOnMouseOutside]="true">
            <div class="row">
	            <span class="col-sm-9">Delete chain</span><span class="col-sm-3"><i class="fa fa-trash" role="button" aria-hidden="true" style="font-size:1.5em; color:#606060;"></i> </span>
	            <span class="col-sm-9">Show QR code</span><span class="col-sm-3"><ui-switch [checked]="chain.display_qrcode"  size="small"></ui-switch></span>
	        </div>
        </popover-content>
        <popover-content #helpmoderation 
	            placement="bottom">
	        <p>
	            Live moderation enables to manually validate each picture before it is posted to the whole chain.
	        </p>
	      </popover-content>
		  <popover-content #helpbroadcast
		            placement="bottom">
	        <p>
	            Live broadcast allows you to display your chain on a screen.
	        </p>
	      </popover-content>
	</nav>
<div class="container-fluid" *ngIf="loaded">
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="moderate-section">
				Photos to moderate
			</div>
		</div>
		<div *ngIf="chain.isAdvertising && chain.moderation.length != 0" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <div *ngFor='let moderate of chain.moderation' class="hovereffect" style="margin-right:1%;">
		      <img src="https://thumbnails.wechain.eu/{{moderate.thumbnails[0]}}" class="img-fluid">
		      	<div class="overlay" style="vertical-align: center;"><h6 style="color:white;" class='display-6'>{{moderate.username}}</h6>
			         <button class="btn btn-sm btn-success"  type="button" uib-dropdown-toggle="" (click)="approve(moderate)">Approve</button>
			         <button class="btn btn-sm btn-danger"  type="button" uib-dropdown-toggle="" (click)="refuse(moderate)">Refuse</button>
		        </div>
		    </div> 
		</div>
		<div *ngIf="!chain.isAdvertising" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <h4 class="display-5 text-xs-center">Live moderation is not enabled for this chain</h4>
		</div>
		<div *ngIf="chain.isAdvertising && chain.moderation.length == 0" class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <h4 class="display-5 text-xs-center">No picture to moderate right now, come back later </h4>
		</div>
	</div>
</div>
<div class="container-fluid" *ngIf="loaded" >
	<div class="row">
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
			<div class="posted-section">
				Posted photos
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
		    <div *ngFor='let chainer of chain.chainers' class="hovereffect" style='width:10%;margin-right:1%;margin-bottom:1%;'>
		      <img src="https://thumbnails.wechain.eu/{{chainer.thumbnails[0]}}" class="img-fluid">
		      	<div class="overlay" style="vertical-align: center;"><h6 style="color:white;" class='display-6'>{{chainer.username}}</h6>
			         <button class="btn btn-sm btn-info"  type="button" (click)="see(chainer)">See</button>
			         <button class="btn btn-sm btn-danger"  type="button" uib-dropdown-toggle="" (click)="delete(chainer)">Delete</button>
		        </div>
		    </div> 
		</div>
	</div>
</div>
<toaster-container></toaster-container>
<modal #approvalModal>
    <modal-header>
        <h4 class="modal-title">Confirm picture approval</h4>
    </modal-header>
    <modal-body>
        Are you sure you want to approve the following picture from {{selectedChainer.username}} ?
        <img src="https://pictures.wechain.eu/{{selectedChainer.picture}}" class="img-fluid">
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="approvalModal" (click)="approveCanceled(selectedChainer);">No</button>
        <button type="button" class="btn btn-primary" (click)="approveConfirmed(selectedChainer);">Yes, approve</button>
    </modal-footer>
</modal>
<modal #refusalModal>
    <modal-header>
        <h4 class="modal-title">Confirm picture refusal</h4>
    </modal-header>
    <modal-body>
        Are you sure you want to refuse the following picture from {{selectedChainer.username}} ?
        <img src="https://pictures.wechain.eu/{{selectedChainer.picture}}" class="img-fluid">
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="refusalModal" (click)="refuseCanceled(selectedChainer);">No</button>
        <button type="button" class="btn btn-primary" (click)="refuseConfirmed(selectedChainer);">Yes, refuse</button>
    </modal-footer>
</modal>
<modal #displayModal>
    <modal-header>
        <h4 class="modal-title">Picture from {{selectedChainer.username}}</h4>
    </modal-header>
    <modal-body>
        <img src="https://pictures.wechain.eu/{{selectedChainer.picture}}" class="img-fluid">
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="displayModal" (click)="displayModal.dismiss();">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteConfirmed(selectedChainer);">Delete</button>
    </modal-footer>
</modal>
<modal #deleteModal>
    <modal-header>
        <h4 class="modal-title">Delete picture from {{selectedChainer.username}} ?</h4>
    </modal-header>
    <modal-body>
        <img src="https://pictures.wechain.eu/{{selectedChainer.picture}}" class="img-fluid">
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="deleteModal" (click)="deleteModal.dismiss();">No, keep</button>
        <button type="button" class="btn btn-danger" (click)="deleteConfirmed(selectedChainer);">Yes, delete</button>
    </modal-footer>
</modal>