<div class="jumbotron col-xs-12 col-md-4 col-lg-4 offset-md-4 offset-lg-4">
  	<ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/signup']">Signup</a>
      </li> 
    </ul>  
    <div class="container-fluid col-xs-12">
    	<form class="col-xs-12">
            
            <div class="col-xs-12">
                <label for="email">Email</label>
            </div>
            <div class="form-group col-xs-12">
                <input type="text" class="form-control" id="email" name="email" placeholder="marlon.thebear@wechain.com" [(ngModel)]="post.email">
            </div>
            <div class="col-xs-12">
                <label for="password">Password</label>
            </div>
            <div class="form-group col-xs-12">
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="post.password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-wechain btn-lg btn-block" (click)="login();">Login</button>
            </div>
            <div class="col-xs-12">
                <div class="divider">
                  <span class="divider"></span>
                  <div class="badge">OR</div>
                  <span class="divider"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-facebook btn-lg btn-block"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Signup with Facebook</button>
            </div>
    	</form>
    </div> 
</div>