<div class="jumbotron col-xs-12 col-md-4 col-lg-4 offset-md-4 offset-lg-4">
  	<ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Signup</a>
      </li> 
    </ul>  
    <div class="container-fluid col-xs-12">
    	<form class="col-xs-12" [formGroup]="post" (ngSubmit)="signup(post.value)">
            <h5 class="display-5 text-xs-left col-xs-12" style="color:#315A7B;"><b>I am</b></h5><br>   
            <div class="radio col-xs-6">
                <label style="font-size: 1em;color:#315A7B;">
                    <input type="radio" name="organization" id="organization" [value]="true">
                    <span class="cr" style="color:#3BA4F7;"><i class="cr-icon fa fa-circle" style="color:#3BA4F7;"></i></span>
                    An organization
                    <!-- <small style="font-size: 1em;color:#315A7B;">(Company, Association, Intitution, ...)</small> -->
                </label>
            </div>
            <div class="radio col-xs-6">
                <label style="font-size: 1em;color:#315A7B;">
                    <input type="radio" name="organization" id="organization" [value]="false" >
                    <span class="cr" style="color:#3BA4F7;"><i class="cr-icon fa fa-circle" style="color:#3BA4F7;"></i></span>
                    A private individual
                </label>
            </div><br> 
            <div class="form-group" *ngIf="!post.organization">
                <button type="submit" class="btn btn-facebook btn-lg btn-block"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Signup with Facebook</button>
            </div>
            <div class="col-xs-12" *ngIf="!post.organization">
                <div class="divider">
                  <span class="divider"></span>
                  <div class="badge">OR</div>
                  <span class="divider"></span>
                </div>
            </div>
             
            <div class="col-xs-6" *ngIf="!post.organization">
                <label for="lastname" name="lastname_label">Lastname</label>
            </div>
            <div class="col-xs-6" *ngIf="!post.organization">
                <label for="firstname" name="firstname_label">Firstname</label>
            </div>
            <div class="col-xs-6" *ngIf="!post.organization" [ngClass]="{'has-danger':!post.controls['lastname'].valid}">
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="TheBear"  [formControl]="post.controls['lastname']" >
            </div>
            <div class="form-group col-xs-6" *ngIf="!post.organization" [ngClass]="{'has-danger':!post.controls['firstname'].valid}">
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Marlon"  [formControl]="post.controls['firstname']">
            </div>
            <div class="col-xs-12" *ngIf="post.organization">
                <label for="firstname" name="organization_label">Organization name</label>
            </div>
            <div class="col-xs-12" *ngIf="post.organization" [ngClass]="{'has-danger':!post.controls['organization_name'].valid}"> 
                <input type="text" class="form-control" id="organization_name" name="organization_name" placeholder="WeChain"  [formControl]="post.controls['organization_name']">
            </div>
            <div class="col-xs-12">
                <label for="email">Email</label>
            </div>
            <div class="form-group col-xs-12"  [ngClass]="{'has-danger':!post.controls['email'].valid}">
                <input type="email" class="form-control" id="email" name="email" placeholder="marlon.thebear@wechain.com" [formControl]="post.controls['email']">
            </div>
            <div class="col-xs-12">
                <label for="password">Password</label>
            </div>
            <div class="form-group col-xs-12" [ngClass]="{'has-danger':!post.controls['password'].valid}">
                <input type="password" class="form-control" id="password" name="password" [formControl]="post.controls['password']">
            </div>
            <div class="col-xs-12">
                <label for="confirmpassword">Confirm Password</label>
            </div>
            <div class="form-group col-xs-12" [ngClass]="{'has-danger':!post.controls['confirmpassword'].valid}">
                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword"  [formControl]="post.controls['confirmpassword']" >
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-wechain btn-lg btn-block" [disabled]="!post.valid" >Create my account</button>
            </div>
    	</form>
    </div> 
</div>