.btn-outline-wechain
{color:#00EACB;background-image:none;background-color:transparent;border-color:#00EACB}

.btn-outline-wechain:hover
{color:#fff;background-color:#00EACB;border-color:#00EACB}

.btn-outline-wechain.focus,.btn-outline-wechain:focus
{color:#fff;background-color:#00EACB;border-color:#00EACB}

.btn-outline-wechain.active,.btn-outline-wechain:active,.open>.btn-outline-wechain.dropdown-toggle
{color:#fff;background-color:#00EACB;border-color:#00EACB}

.btn-outline-wechain.active.focus,.btn-outline-wechain.active:focus,.btn-outline-wechain.active:hover,.btn-outline-wechain:active.focus,.btn-outline-wechain:active:focus,.btn-outline-wechain:active:hover,.open>.btn-outline-wechain.dropdown-toggle.focus,.open>.btn-outline-wechain.dropdown-toggle:focus,.open>.btn-outline-wechain.dropdown-toggle:hover
{color:#fff;background-color:#00D2B6;border-color:#00BBA2}

.btn-outline-wechain.disabled.focus,.btn-outline-wechain.disabled:focus,.btn-outline-wechain:disabled.focus,.btn-outline-wechain:disabled:focus
{border-color:#CCFAF4}

.btn-outline-wechain.disabled:hover,.btn-outline-wechain:disabled:hover
{border-color:#CCFAF4}