<div class="jumbotron">
	<div *ngIf="chains.length == 0" class="row flex-items-xs-center">
	  	<div class="col-xs-12 col-md-12 flex-xs-middle flex-md-middle">
		  <h2 class="display-2"><i class="fa fa-picture-o fa-10" aria-hidden="true"></i></h2>
		  <h4 class="display-4">This dashboard is empty and this is sad :-(</h4>
		  <h4 class="display-4">Let's launch your first chain !</h4>
		  <button [routerLink]="['/new']" class="btn btn-outline-wechain" type="submit">CREATE NEW CHAIN</button>
		</div>
	</div>
	<!-- <div *ngIf="chains.length != 0" class="card-deck-wrapper"> -->
	  <div *ngIf="chains.length != 0" class="container-fluid">
	    <div *ngFor='let chain of chains' class="card col-xs-4">
	    	<div class="card-block text-xs-center">
			    <h5 class="card-title display-5">#{{chain.title}}</h5>
			    <h6 class="card-subtitle text-muted">created on {{chain.created_at}}</h6>
			</div>
			  <div class="fixOverlayDiv">
		      	<a [routerLink]="['/chains/'+chain._id]" >
		      		<img class="img-fluid" [src]="'https://pictures.wechain.eu/'+chain.author.picture" alt="Card image cap" style="width:100%;height:auto;">
		      	</a>
		      	<div *ngIf="chain.isAdvertising" class="OverlayTopText">
		      		&nbsp; <i class="fa fa-thumbs-up" aria-hidden="true"></i>
				    <i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;
				    {{chain.moderation_count}} pictures to moderate
		      	</div>
		      	<div class="OverlayBottomText">
		      		&nbsp; <i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp; {{chain.chainers.length+1}} &nbsp;
				    <i class="fa fa-users" aria-hidden="true"></i> &nbsp; {{chain.chainers_count}}
		      	</div>
		      </div>
		      <!-- <div class="card-img-overlay">
		      	<h4 class="card-title">Pictures to moderate</h4>
			    <p class="card-text">
				    <i class="fa fa-picture-o" aria-hidden="true"></i> &nbsp; {{chain.chainers.length}} &nbsp;
				    <i class="fa fa-users" aria-hidden="true"></i> &nbsp; {{chain.chainers_count}}
			    </p>
			  </div> -->
		      <div class="card-block text-xs-center">
		        <a href="https://live.wechain.eu/{{chain._id}}" target="_blank" class="btn btn-danger btn-sm"><i class="fa fa-video-camera" aria-hidden="true"></i> &nbsp; Broadcast Live</a>
		        <a href="#" class="btn btn-primary btn-sm" (click)="inviteMore(chain);"><i class="fa fa-user-plus" aria-hidden="true"></i> &nbsp; Invite More</a>
		      </div>
	    </div>
	  </div>
	<!-- </div> -->
</div>
<modal #inviteModal>
    <modal-header>
        <h4 class="modal-title">Invite people to the chain #{{selectedChain.title}} ?</h4>
    </modal-header>
    <modal-body class="col-xs-12">
		<div class="col-xs-12 text-muted lead text-xs-left " style="border:3px dashed #979797;text-align:center;padding-top:3em;padding-bottom:3em;color:#315A7B;" contentEditable="true" [textContent]="mails" (input)="mails=$event.target.textContent" (focus)="emptyMails();">
			Copy/Paste emails separated by commas
		</div>
		<div class="col-xs-12">
		</div>
		<div class="col-xs-12 text-muted lead text-xs-left " style="border:3px dashed #979797;text-align:center;padding-top:3em;padding-bottom:3em;color:#315A7B;" contentEditable="true" [textContent]="sms" (input)="sms=$event.target.textContent" (click)="emptySMS();">
			Copy/Paste phone numbers (format +33 6/7 XX XX XX XX) separated by commas
		</div>
    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="deleteModal" (click)="refuseInviteMore();">No, keep</button>
        <button type="button" class="btn btn-success" (click)="confirmInviteMore(selectedChainer);">Invite !</button>
    </modal-footer>
</modal>